doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")

  title Frontend Mentor | Clipboard landing page

  link(href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600" rel="stylesheet")
  link(rel="stylesheet", href="main.css")

  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-138684903-2")
  script.
    window.dataLayer = window.dataLayer || []
    function gtag(){dataLayer.push(arguments)}
    gtag('js', new Date())

    gtag('config', 'UA-138684903-2')


body
  section.hero
    .container
      .image
        img(src="images/logo.svg", alt="Clipboard landing page")
      .section-hero
        h1.section-hero__title
          | A history of everything you copy
        p.section-hero__subtitle
          | Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.
        .buttons
          button.btn.btn__primary Download for iOS
          button.btn.btn__secondary Download for Mac

  section.keep-track-of-your-snippets
      .section-hero
        .container
          h1.section-hero__title
            | Keep track of your snippets
          p.section-hero__subtitle
            | Clipboard instantly stores any item you copy in the cloud,
            | meaning you can access your snippets immediately on all your
            | devices. Our Mac and iOS apps will help you organize everything.
      .flex
        .image
          img(src="images/image-computer.jpg", alt="Image Computer")
        .items
          .item
            h2 Quick Search
            p Easily search your snippets by content, category, web address, application, and more.
          .item
            h2 iCloud Sync
            p Instantly saves and syncs snippets across all your devices.
          .item
            h2 Complete History
            p Retrieve any snippets from the first moment you started using the app.

  section.access-clipboard-anywhere
    .container
      .section-hero
        h1.section-hero__title
          | Access Clipboard anywhere
        p.section-hero__subtitle
          | Whether you’re on the go, or at your computer, you can access all your Clipboard
          | snippets in a few simple clicks.
      .image
        img(src="images/image-devices.jpg", alt="Images Devices")

  section.supercharge-your-workflow
    .container
      .section-hero
        h1.section-hero__title
          | Supercharge your workflow
        p.section-hero__subtitle
          | We’ve got the tools to boost your productivity.
      .items.flex
        .item
          .icon
            img(src="images/icon-blacklist.svg", alt="Create Blacklist")
          h2 Create blacklists
          p Ensure sensitive information never makes its way to your clipboard by excluding certain sources.
        .item
          .icon
            img(src="images/icon-text.svg", alt="Plain text snippets")
          h2 Plain text snippets
          p Remove unwanted formatting from copied text for a consistent look.
        .item
          .icon
            img(src="images/icon-preview.svg", alt="Sneak preview")
          h2 Sneak preview
          p Quick preview of all snippets on your Clipboard for easy access.
      .logos.flex
        .logo
          img(src="images/logo-google.png", alt="Google")
        .logo
          img(src="images/logo-ibm.png", alt="IBM")
        .logo
          img(src="images/logo-microsoft.png", alt="Microsoft")
        .logo
          img(src="images/logo-hp.png", alt="HP")
        .logo
          img(src="images/logo-vector-graphics.png", alt="Vector Graphics")

  section.clipboard-ios-mac
    .container
      .section-hero
        h1.section-hero__title
          | Clipboard for iOS and Mac OS
        p.section-hero__subtitle
          | Available for free on the App Store. Download for Mac or iOS, sync with iCloud
          | and you’re ready to start adding to your clipboard.
        .buttons
          button.btn.btn__primary Download for iOS
          button.btn.btn__secondary Download for Mac

  footer.footer
    .container
      .flex
        .footer__logo
          img(src="images/logo.svg", alt="Clipboard")
        .footer__links
          a(href="#") FAQs
          a(href="#") Contact Us
          a(href="#") Privacy Policy
          a(href="#") Press Kit
          a(href="#") Install Guide
        .footer__social
          ul.footer__social--links
            li
              a(href="http://facebook.com", target="_blank", rel="noopener noreferrer", aria-label="Follow us on Facebook")
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Facebook</title>
                <g id="---High-Fidelity" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="facebook" class="icon icon-instagram" transform="translate(-1155.000000, -3721.000000)" fill="#4C545C" fill-rule="nonzero">
                    <g id="Group-31" transform="translate(0.000000, 3658.000000)">
                      <g id="Group-20" transform="translate(1155.000000, 63.000000)">
                        <path d="M22.675,6.66133815e-16 L1.325,6.66133815e-16 C0.593,6.66133815e-16 0,0.593 0,1.325 L0,22.676 C0,23.407 0.593,24 1.325,24 L12.82,24 L12.82,14.706 L9.692,14.706 L9.692,11.084 L12.82,11.084 L12.82,8.413 C12.82,5.313 14.713,3.625 17.479,3.625 C18.804,3.625 19.942,3.724 20.274,3.768 L20.274,7.008 L18.356,7.009 C16.852,7.009 16.561,7.724 16.561,8.772 L16.561,11.085 L20.148,11.085 L19.681,14.707 L16.561,14.707 L16.561,24 L22.677,24 C23.407,24 24,23.407 24,22.675 L24,1.325 C24,0.593 23.407,0 22.675,6.66133815e-16 Z" id="Path"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            li
              a(href="http://twitter.com", target="_blank", rel="noopener noreferrer", aria-label="Follow us on Twitter")
                <svg width="24px" height="20px" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg">
                  <title>Twitter</title>
                  <g id="---High-Fidelity" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="twitter" class="icon icon-instagram" transform="translate(-1203.000000, -3723.000000)" fill="#4C545C" fill-rule="nonzero">
                      <g id="Group-31" transform="translate(0.000000, 3658.000000)">
                        <g id="Group-20" transform="translate(1155.000000, 63.000000)">
                          <path d="M72,4.557 C71.117,4.949 70.168,5.213 69.172,5.332 C70.189,4.723 70.97,3.758 71.337,2.608 C70.386,3.172 69.332,3.582 68.21,3.803 C67.313,2.846 66.032,2.248 64.616,2.248 C61.437,2.248 59.101,5.214 59.819,8.293 C55.728,8.088 52.1,6.128 49.671,3.149 C48.381,5.362 49.002,8.257 51.194,9.723 C50.388,9.697 49.628,9.476 48.965,9.107 C48.911,11.388 50.546,13.522 52.914,13.997 C52.221,14.185 51.462,14.229 50.69,14.081 C51.316,16.037 53.134,17.46 55.29,17.5 C53.22,19.123 50.612,19.848 48,19.54 C50.179,20.937 52.768,21.752 55.548,21.752 C64.69,21.752 69.855,14.031 69.543,7.106 C70.505,6.411 71.34,5.544 72,4.557 Z" id="Path"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
            li
              a(href="http://instagram.com", target="_blank", rel="noopener noreferrer", aria-label="Follow us on Instagram")
                <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>Instagram</title>
                  <g id="---High-Fidelity" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="instagram" class="icon icon-instagram" transform="translate(-1251.000000, -3721.000000)" fill="#4C545C" fill-rule="nonzero">
                      <g id="Group-31" transform="translate(0.000000, 3658.000000)">
                        <g id="Group-20" transform="translate(1155.000000, 63.000000)">
                          <path d="M108,2.163 C111.204,2.163 111.584,2.175 112.85,2.233 C116.102,2.381 117.621,3.924 117.769,7.152 C117.827,8.417 117.838,8.797 117.838,12.001 C117.838,15.206 117.826,15.585 117.769,16.85 C117.62,20.075 116.105,21.621 112.85,21.769 C111.584,21.827 111.206,21.839 108,21.839 C104.796,21.839 104.416,21.827 103.151,21.769 C99.891,21.62 98.38,20.07 98.232,16.849 C98.174,15.584 98.162,15.205 98.162,12 C98.162,8.796 98.175,8.417 98.232,7.151 C98.381,3.924 99.896,2.38 103.151,2.232 C104.417,2.175 104.796,2.163 108,2.163 L108,2.163 Z M108,0 C104.741,4.85722573e-16 104.333,0.014 103.053,0.072 C98.695,0.272 96.273,2.69 96.073,7.052 C96.014,8.333 96,8.741 96,12 C96,15.259 96.014,15.668 96.072,16.948 C96.272,21.306 98.69,23.728 103.052,23.928 C104.333,23.986 104.741,24 108,24 C111.259,24 111.668,23.986 112.948,23.928 C117.302,23.728 119.73,21.31 119.927,16.948 C119.986,15.668 120,15.259 120,12 C120,8.741 119.986,8.333 119.928,7.053 C119.732,2.699 117.311,0.273 112.949,0.073 C111.668,0.014 111.259,0 108,0 Z M108,5.838 C104.597,5.838 101.838,8.597 101.838,12 C101.838,15.403 104.597,18.163 108,18.163 C111.403,18.163 114.162,15.404 114.162,12 C114.162,8.597 111.403,5.838 108,5.838 Z M108,16 C105.791,16 104,14.21 104,12 C104,9.791 105.791,8 108,8 C110.209,8 112,9.791 112,12 C112,14.21 110.209,16 108,16 Z M114.406,4.155 C113.61,4.155 112.965,4.8 112.965,5.595 C112.965,6.39 113.61,7.035 114.406,7.035 C115.201,7.035 115.845,6.39 115.845,5.595 C115.845,4.8 115.201,4.155 114.406,4.155 Z" id="Shape"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
    .flex
      p.attribution
        | Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" rel="noopener noreferrer">Frontend Mentor</a>.
        | Coded by <a href="https://github.com/tannusesquerdo" target="_blank" rel="noopener noreferrer">Tannus Esquerdo</a>.