html {
  font-size: 1em;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @include respond-to(40em) {
    font-size: 1.125em;
  }
}

body {
  background: #fff;
  font-family: $text-font-stack;
  font-weight: 400;
  line-height: 1.45;
  color: $dark-grayish-blue;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.section-hero {
  text-align: center;
  padding-top: 4em;

  &__title {
    font-size: 2em;
    line-height: 1.2;
    margin: 0;
  }

  &__subtitle {
    color: $grayish-blue;
    font-size: 1em;
    padding: 0 .625em;
    margin-bottom: 3.125em;
    margin-left: auto;
    margin-right: auto;
    max-width: 37em;
  }
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 30em;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: .5em 1.5em .75em;
  height: 3.125em;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  max-width: 18rem;
  margin: .625rem;
  margin-bottom: 1.25rem;

  @include respond-to(40em) {
    max-width: 15rem;
  }

  &.btn__primary {
    background-color: $primary-strong-cyan;
    box-shadow: inset 0 -0.25em 0 rgba(0, 0, 0, 0.15), 0 0.25em 0.25em rgba(0, 0, 0, 0.15);
    transition: .1s;

    &:hover {
      background-color: rgba($primary-strong-cyan, 0.85);
      box-shadow: inset 0 -0.25em 0 rgba(0, 0, 0, 0.15), 0 0.5em 0.5em rgba($primary-strong-cyan, 0.15);
    }
  }

  &.btn__secondary {
    background-color: $primary-light-blue;
    box-shadow: inset 0 -0.25em 0 rgba(0, 0, 0, 0.15), 0 0.25em 0.25em rgba(0, 0, 0, 0.15);
    transition: .1s;

    &:hover {
      background-color: rgba($primary-light-blue, 0.85);
      box-shadow: inset 0 -0.25em 0 rgba(0, 0, 0, 0.15), 0 0.5em 0.5em rgba($primary-light-blue, 0.15);
    }
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: $dark-grayish-blue;

  &:hover {
    color: $primary-strong-cyan;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.hero {
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding-top: 7em;
  padding-bottom: 5em;
  text-align: center;

  @include respond-to(40em) {
    background-image: url(../images/bg-header-desktop.png);
  }
}

.keep-track-of-your-snippets {
  padding-bottom: 5em;

  .image {
    flex-basis: 100%;
    max-width: 100%;
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @include respond-to(60em) {
      flex-basis: 50%;
      max-width: 50%;
      display: flex;
      justify-content: flex-end;
      margin-right: 5rem;
      padding-left: 0;
      padding-right: 0;

      img {
        width: inherit;
        max-width: fit-content;
      }
    }
  }

  .items {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 2em;

    @include respond-to(60em) {
      flex-basis: 33%;
      max-width: 33%;
      text-align: left;
    }

    .item {
      width: 100%;
      margin-bottom: 2.5em;

      h2 {
        margin-bottom: 0;
      }

      p {
        color: $grayish-blue;
        padding: 0 .9375em;

        @include respond-to(60em) {
          padding-left: 0;
          max-width: 22em;
          line-height: 2;
          margin-top: 0;
        }
      }
    }
  }
}

.access-clipboard-anywhere {
  padding-bottom: 2em;

  .image {
    width: 100%;
    text-align: center;
  }
}

.supercharge-your-workflow {
  padding-bottom: 2em;

  .items {
    text-align: center;
    padding-top: 2em;

    .item {
      width: 100%;
      margin-bottom: 3.5em;
      flex-basis: 100%;
      max-width: 100%;

      @include respond-to(60em) {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
        flex-grow: 0;
      }

      .icon {
        min-height: 40px;
      }

      h2 {
        margin-bottom: 0;
      }

      p {
        color: $grayish-blue;
        padding: 0 .9375em;
      }
    }
  }

  .logos {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 2em;
    align-items: center;

    @include respond-to(60em) {
      padding-top: 0;
    }

    .logo {
      flex-basis: 100%;
      max-width: 100%;
      margin: 2em 0;
      min-height: 4.0625rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-to(60em) {
        flex-basis: auto;
        max-width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }
}

.clipboard-ios-mac {
  padding-bottom: 8em;
}

footer.footer {
  background: #f5f6f8;
  text-align: center;
  padding-top: 3.75em;
  clear: both;

  .footer__logo,
  .footer__links,
  .footer__social {
    flex-basis: 100%;
    max-width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .footer__logo {
    margin-bottom: 3em;

    @include respond-to(60em) {
      flex-basis: 25%;
      max-width: 25%;
      text-align: left;
    }

    img {
      max-width: 3.4375rem;
    }
  }

  .footer__links {
    margin-bottom: 2em;

    @include respond-to(60em) {
      flex-basis: 50%;
      max-width: 50%;
      display: grid;
      grid-template-columns: repeat(3, 10em);
      grid-template-rows: 50px 50px;
      grid-auto-flow: column;
    }

    a {
      display: block;
      text-decoration: none;
      line-height: 1.25;
      font-size: 1.25em;
      margin: 1.25em 0;

      @include respond-to(60em) {
        text-align: left;
        margin: 0;
        font-size: 1em;
      }
    }
  }

  .footer__social {
    padding-top: 2em;
    padding-bottom: 3.75em;

    @include respond-to(60em) {
      flex-basis: 25%;
      max-width: 25%;
      text-align: right;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border: 0;

      li {
        display: inline-block;

        a {
          display: inline-block;
          padding: 0 20px;

          &:hover {
            .icon {
              fill: $primary-strong-cyan;
            }
          }
        }
      }
    }
  }

  .attribution {
    font-size: .6875em;
    margin: 0;
    padding: .625rem;
    background: rgba(0, 0, 0, 0.05);
    max-width: 100%;
    flex-basis: 100%;
  }
}